# EDA and Plotting

In [1]:
import numpy as np
import pandas as pd

<mark>Jump right into analyses from here:</mark>

[Counting values from individual registrations](#1)  
[Counting values from team registrations](#2)

## Individual registrations
<a id =1> </a>

<font color=#330099>Read in the csv from the repo</font>

In [2]:
individualDF = pd.read_csv("./data/CR_individual.csv", index_col="ID")

<font color=#330099>Some summary</font>

In [3]:
individualDF.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 204 entries, 16 to 252
Data columns (total 10 columns):
 #   Column                                                   Non-Null Count  Dtype
---  ------                                                   --------------  -----
 0   Country                                                  204 non-null    object
 1   Affiliation or university                                204 non-null    object
 2   Academic discipline                                      186 non-null    object
 3   Career stage / position                                  186 non-null    object
 4   How did you find out about this workshop?                183 non-null    object
 5   Attendance/participation type                            204 non-null    object
 6   Stream only or also exercise group? Video or in-person?  204 non-null    object
 7   Which days you plan to attend?                           204 non-null    object
 8   Registration date                                        204 non-null    object
 9   Registration state                                       204 non-null    object
dtypes: object(10)
memory usage: 17.5+ KB

<font color=#330099>A closer look</font>

In [4]:
individualDF.head(2)

,Country,Affiliation or university,Academic discipline,Career stage / position,How did you find out about this workshop?,Attendance/participation type,Stream only or also exercise group? Video or in-person?,Which days you plan to attend?,Registration date,Registration state
ID,,,,,,,,,,
16,Norway,UiT The Arctic University of Norway,Chemical Sciences,Research software engineer,Another event,Organizer,I am an organizer or instructor or observer,"Tue, Sep 20 (Day 1); Wed, Sep 21 (Day 2); Thu,...",2022-07-04 07:35:21.871298+00:00,Completed
17,Sweden,Chalmers University of Technology,Mechanical Engineering,Researcher,CodeRefinery.org; Educational institute,Learner,Watching stream and participate in online exer...,"Tue, Sep 20 (Day 1); Wed, Sep 21 (Day 2); Thu,...",2022-07-04 08:57:15.110384+00:00,Completed

<font color=#330099>Count some values</font>

In [5]:
countCoutries = individualDF["Country"].value_counts()
countOrganisations = individualDF["Affiliation or university"].value_counts()
countAcademic = individualDF["Academic discipline"].value_counts()
countCareer = individualDF["Career stage / position"].value_counts()
countFindOut = individualDF["How did you find out about this workshop?"].value_counts()
countAttendaceType1 = individualDF["Attendance/participation type"].value_counts()
countAttendaceType2 = individualDF["Stream only or also exercise group? Video or in-person?"].value_counts()
countAttendaceDays = individualDF["Which days you plan to attend?"].value_counts()

### Country

<font color=#330099>This can be plotted right away</font>

In [6]:
countCoutries

Finland              61
Sweden               50
Norway               38
Spain                12
Denmark               7
Netherlands           5
India                 4
Ireland               3
Switzerland           3
United Kingdom        3
Italy                 3
France                2
United States         2
Trinidad & Tobago     1
Singapore             1
China                 1
Thailand              1
Greece                1
Iran                  1
Turkey                1
Brazil                1
Indonesia             1
Germany               1
Canada                1
Name: Country, dtype: int64

### Affiliation or university

<font color=#ff0000>This has some names with slight variations so needs handling</font>

In [7]:
countOrganisations

Aalto University                                         32
NTNU                                                     10
Uppsala University                                        9
SMHI                                                      9
University of Oslo                                        6
                                                         ..
Norwegian University of Science and Technology (NTNU)     1
Justervesenet-Norwegian Metrology Service                 1
University of South Eastern Norway                        1
Technical University of Chalmers                          1
UiO                                                       1
Name: Affiliation or university, Length: 107, dtype: int64

### Academic discipline

<font color=#330099>This can be plotted right away</font>

In [8]:
countAcademic

Computer and Information Sciences                                          31
Physical Sciences                                                          28
Biological Sciences                                                        22
Chemical Sciences                                                          18
Earth and Related Environmental Sciences                                   15
Electrical Engineering, Electronic Engineering, Information Engineering    14
Mechanical Engineering                                                     13
Civil Engineering                                                           8
Health Sciences                                                             6
Psychology                                                                  4
Other Engineering and Technologies                                          4
Mathematics                                                                 4
Medical Engineering                                                         2
Environmental Engineering                                                   2
Basic Medicine                                                              2
Clinical Medicine                                                           2
Other Natural Sciences                                                      2
Other Medical and Health Sciences                                           2
Economics and Business                                                      2
Materials Engineering                                                       1
Other Social Sciences                                                       1
Political Science                                                           1
Other                                                                       1
Environmental Biotechnology                                                 1
Name: Academic discipline, dtype: int64

### Career stage / position

<font color=#330099>This can be plotted right away</font>

In [9]:
countCareer

Graduate student              72
Researcher                    37
Postdoc                       26
Research software engineer    17
Other                         12
Professor                      9
Industry                       8
Undergrad. student             5
Name: Career stage / position, dtype: int64

### How did you find out about this workshop?

<font color=#ff0000>This needs some text analysis</font>

In [10]:
countFindOut

Friend / Colleague                                                                   67
Educational institute                                                                34
CodeRefinery.org                                                                     19
National HPC center                                                                  18
Another event                                                                        15
Twitter                                                                              15
CodeRefinery.org; Educational institute                                               2
Educational institute; Friend / Colleague                                             2
CodeRefinery.org; National HPC center; Friend / Colleague                             1
Twitter; Another event                                                                1
Friend / Colleague; Another event                                                     1
Educational institute; National HPC center                                            1
Educational institute; Another event                                                  1
Twitter; CodeRefinery.org; National HPC center; Friend / Colleague; Another event     1
Twitter; Educational institute; National HPC center                                   1
CodeRefinery.org; National HPC center                                                 1
Twitter; CodeRefinery.org; Friend / Colleague                                         1
CodeRefinery.org; Educational institute; Friend / Colleague                           1
National HPC center; Friend / Colleague                                               1
Name: How did you find out about this workshop?, dtype: int64

### Attendance/participation type

<font color=#330099>This can be plotted right away</font>

In [11]:
countAttendaceType1

Learner            185
Instructor           6
Observer             5
Organizer            3
Expert helper        3
Exercise leader      2
Name: Attendance/participation type, dtype: int64

### Stream only or also exercise group? Video or in-person?

<font color=#330099>This can be plotted right away</font>

In [12]:
countAttendaceType2

Only watching the stream                                                         90
Watching stream and participate in online exercise group (Code Refinery Zoom)    62
I would like to get more information and decide later                            29
I would like to watch and exercise with others in-person                         14
I am an organizer or instructor or observer                                       9
Name: Stream only or also exercise group? Video or in-person?, dtype: int64

### Which days you plan to attend?

<font color=#ff0000>This is tricky and potentially not worth it.</font>
> It would be nice to know if the days have some differences. Probably we get that from the Twitch stats also

In [13]:
countAttendaceDays

Tue, Sep 20 (Day 1); Wed, Sep 21 (Day 2); Thu, Sep 22 (Day 3); Tue, Sep 27 (Day 4); Wed, Sep 28 (Day 5); Thu, Sep 29 (Day 6)                                                        117
Not sure I can attend, but please keep me informed                                                                                                                                   19
Tue, Sep 20 (Day 1); Wed, Sep 21 (Day 2); Thu, Sep 22 (Day 3); Tue, Sep 27 (Day 4); Wed, Sep 28 (Day 5); Thu, Sep 29 (Day 6); Not sure I can attend, but please keep me informed     11
Tue, Sep 27 (Day 4); Wed, Sep 28 (Day 5); Thu, Sep 29 (Day 6)                                                                                                                         8
Tue, Sep 20 (Day 1); Wed, Sep 21 (Day 2); Thu, Sep 22 (Day 3)                                                                                                                         6
Wed, Sep 21 (Day 2); Thu, Sep 22 (Day 3); Tue, Sep 27 (Day 4); Wed, Sep 28 (Day 5); Thu, Sep 29 (Day 6)                                                                               4
Tue, Sep 20 (Day 1); Wed, Sep 21 (Day 2); Thu, Sep 22 (Day 3); Tue, Sep 27 (Day 4); Wed, Sep 28 (Day 5)                                                                               4
Tue, Sep 20 (Day 1); Wed, Sep 21 (Day 2); Thu, Sep 22 (Day 3); Tue, Sep 27 (Day 4); Thu, Sep 29 (Day 6)                                                                               3
Tue, Sep 20 (Day 1); Wed, Sep 21 (Day 2); Tue, Sep 27 (Day 4); Wed, Sep 28 (Day 5); Thu, Sep 29 (Day 6)                                                                               2
Tue, Sep 20 (Day 1); Thu, Sep 22 (Day 3); Tue, Sep 27 (Day 4); Thu, Sep 29 (Day 6)                                                                                                    2
Thu, Sep 29 (Day 6)                                                                                                                                                                   2
Tue, Sep 20 (Day 1); Wed, Sep 21 (Day 2); Thu, Sep 22 (Day 3); Tue, Sep 27 (Day 4)                                                                                                    2
Tue, Sep 20 (Day 1); Wed, Sep 21 (Day 2); Thu, Sep 22 (Day 3); Wed, Sep 28 (Day 5); Thu, Sep 29 (Day 6)                                                                               2
Thu, Sep 22 (Day 3); Tue, Sep 27 (Day 4); Wed, Sep 28 (Day 5); Thu, Sep 29 (Day 6)                                                                                                    2
Tue, Sep 20 (Day 1); Thu, Sep 22 (Day 3); Tue, Sep 27 (Day 4); Wed, Sep 28 (Day 5); Thu, Sep 29 (Day 6)                                                                               1
Tue, Sep 20 (Day 1); Wed, Sep 21 (Day 2); Wed, Sep 28 (Day 5); Thu, Sep 29 (Day 6)                                                                                                    1
Wed, Sep 21 (Day 2); Tue, Sep 27 (Day 4); Wed, Sep 28 (Day 5); Thu, Sep 29 (Day 6); Not sure I can attend, but please keep me informed                                                1
Tue, Sep 20 (Day 1); Thu, Sep 22 (Day 3); Tue, Sep 27 (Day 4); Thu, Sep 29 (Day 6); Not sure I can attend, but please keep me informed                                                1
Wed, Sep 21 (Day 2); Thu, Sep 22 (Day 3); Tue, Sep 27 (Day 4); Not sure I can attend, but please keep me informed                                                                     1
Tue, Sep 20 (Day 1); Wed, Sep 21 (Day 2); Not sure I can attend, but please keep me informed                                                                                          1
Tue, Sep 20 (Day 1); Wed, Sep 21 (Day 2); Thu, Sep 22 (Day 3); Wed, Sep 28 (Day 5); Thu, Sep 29 (Day 6); Not sure I can attend, but please keep me informed                           1
Wed, Sep 21 (Day 2); Wed, Sep 28 (Day 5); Thu, Sep 29 (Day 6)                                                                                                                         1
Wed, Sep 21 (Day 2); Thu, Sep 22 (Day 3); Tue, Sep 27 (Day 4); Thu, Sep 29 (Day 6); Not sure I can attend, but please keep me informed                                                1
Tue, Sep 20 (Day 1); Tue, Sep 27 (Day 4); Wed, Sep 28 (Day 5); Thu, Sep 29 (Day 6)                                                                                                    1
Tue, Sep 20 (Day 1); Wed, Sep 21 (Day 2); Thu, Sep 22 (Day 3); Tue, Sep 27 (Day 4); Not sure I can attend, but please keep me informed                                                1
Tue, Sep 20 (Day 1); Not sure I can attend, but please keep me informed                                                                                                               1
Tue, Sep 20 (Day 1)                                                                                                                                                                   1
Wed, Sep 21 (Day 2); Thu, Sep 22 (Day 3); Tue, Sep 27 (Day 4); Thu, Sep 29 (Day 6)                                                                                                    1
Tue, Sep 20 (Day 1); Thu, Sep 22 (Day 3); Wed, Sep 28 (Day 5); Thu, Sep 29 (Day 6)                                                                                                    1
Tue, Sep 20 (Day 1); Wed, Sep 21 (Day 2)                                                                                                                                              1
Wed, Sep 21 (Day 2); Thu, Sep 29 (Day 6)                                                                                                                                              1
Wed, Sep 21 (Day 2); Thu, Sep 22 (Day 3); Wed, Sep 28 (Day 5); Thu, Sep 29 (Day 6)                                                                                                    1
Tue, Sep 20 (Day 1); Wed, Sep 21 (Day 2); Tue, Sep 27 (Day 4); Wed, Sep 28 (Day 5)                                                                                                    1
Tue, Sep 20 (Day 1); Wed, Sep 21 (Day 2); Tue, Sep 27 (Day 4)                                                                                                                         1
Name: Which days you plan to attend?, dtype: int64

## Team registrations
<a id =2> </a>

<font color=#330099>Read in the csv from the repo</font>

In [14]:
teamDF = pd.read_csv("./CR_teams.csv", index_col="ID")

<font color=#330099>Some summary</font>

In [15]:
teamDF.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8 entries, 41 to 253
Data columns (total 10 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   Affiliation                                                          8 non-null      object
 1   Actual number of teams                                               6 non-null      float64
 2   Actual number of learners                                            6 non-null      float64
 3   Actual number of exercise leads                                      6 non-null      float64
 4   Country/countries that learners are affilated with                   6 non-null      object
 5   Career stage/ position of learners                                   6 non-null      object
 6   Academic discipline                                                  6 non-null      object
 7   Academic disciplines (if multiple teams from different disciplines)  2 non-null      object
 8   Registration date                                                    8 non-null      object
 9   Registration state                                                   8 non-null      object
dtypes: float64(3), object(7)
memory usage: 704.0+ bytes

<font color=#330099>A closer look</font>

In [16]:
teamDF.head(2)

,Affiliation,Actual number of teams,Actual number of learners,Actual number of exercise leads,Country/countries that learners are affilated with,Career stage/ position of learners,Academic discipline,Academic disciplines (if multiple teams from different disciplines),Registration date,Registration state
ID,,,,,,,,,,
41,TU Delft Library,4.0,19.0,5.0,TU Delft: 19,"PhD candidate: 17, Researcher: 2",Mixed,"Civil Engineering: 5, Computer and Information...",2022-07-11 11:27:26.901868+00:00,Completed
42,University of Jyv채skyl채,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-07-11 12:25:35.330445+00:00,Completed

<font color=#330099>Count some values</font>

In [17]:
countActualTeams_team = teamDF["Actual number of teams"].value_counts()
countActualLearners_team = teamDF["Actual number of learners"].value_counts()
countActualELs_team = teamDF["Actual number of exercise leads"].value_counts()

In [18]:
countActualTeams_team

1.0    4
4.0    1
2.0    1
Name: Actual number of teams, dtype: int64

In [19]:
countActualLearners_team

5.0     2
19.0    1
12.0    1
2.0     1
4.0     1
Name: Actual number of learners, dtype: int64

In [20]:
countActualELs_team

2.0    4
5.0    1
1.0    1
Name: Actual number of exercise leads, dtype: int64